@import './partials';

/******************CREATE ACCOUNT*************************/

#create-account {
    @extend %centered;
    margin: 2em 6em;
    text-align: center;
    line-height: 1.4em;
    color: $main-text;
    display: flex;
    flex-direction: column;
}

%create-button {
    @extend %button-shared;
    background-color: $primary-purple;
    display: block;
    width: 180px;
    height: 40px;
    font-size: .75em;
    margin: 2em auto;
}

.create-button{
    @extend %create-button;
}

.contact-button {
    @extend %create-button;
    background-color: white;
    border: 1px solid $light-color;
    color: $main-text;
    box-shadow: 1px 3px 5px 1px $light-text;
    width: 120px;

}